* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* Variaveis */

:root {
    --main-color: #CB690D;
    --text-color: #fff;
    --text-sec-color: #111;

    --h1-font: 5rem;
    --h2-font: 3.7rem;
    --p-font: 1.1rem;
}

/* Corpo */

body {
    background: #111;
    color: var(--text-color);
}


/* Cabecalho */

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 38px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all .7s;
}

/* Logo */

.logo2 {
    display: flex;
    align-items: center;
    font-size: 3px;
    width: 80px;
    height: 80px;
}

/* Menu */

.navbar {
    display: flex;
}

.navbar a {
    margin: 0 25px;
    padding: 4;
    color: var(--text-color);
    font-size: var(--text-color);
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .7s;
}

.navbar a:hover {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

#menu-icon {
    font-size: 34px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

/* Scroll */

::-webkit-scrollbar-track {
    background-color: var(--text-sec-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
}

/* Inicio */

section {
    padding: 30px 15% 30px;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.home-img img {
    height: auto;
    width: 100%;
}

.home-text {
    margin-top: 120px;
}

.home-text h5 {
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    margin: 15px 0;
    font-size: var(--h1-font);
    color: var(--main-color);
    line-height: 1.0;
    font-weight: 800;
}

.social {
    margin: 20px 0px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #222;
    color: var(--main-color);
    border-radius: 50%;
    transition: all .7s;
}

.social i:hover {
    border: 1px solid var(--main-color);
}

.button a {
    display: inline-block;
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all .7s;
}

.button a:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.button a.btn2 {
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin-left: 20px;
}

.button i {
    margin-right: 7px;
}

/* Sobre mim */

.text-up {
    color: var(--main-color);
    font-weight: bold;
}

.origamid {
    color: #9B30F9;
    font-weight: bold;
}

.h-text h2 {
    font-size: var(--h2-font);
    color: var(--main-color);
    font-weight: 700;
}

.work-title p,
.about-title p {
    font-size: var(--p-font);
    padding: 0 120px;
    font-weight: 200;
    line-height: 32px;
    text-indent: 20px;
    text-align: justify;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
}


.box a {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 14px;
}

.box .studing {
    border-radius: 50px;
    border: 1px solid var(--main-color);
    padding: 0 6px;
}

.box i {
    font-size: 50px;
}

.about hr {
    margin: 20px 0;
}

/* Formação */

.formation-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
}

.formation-title {
    font-size: var(--p-font);
    line-height: 32px;
}

.formation-verif {
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

.formation-verif i {
    font-size: 21px;
    color: var(--main-color);
}

.cap {
    display: block;
    margin-bottom: 15px;
}



/* Trabalhos */

.work-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 12px;
}

.row {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 12px;
    padding: 15px 20px;
    transition: all .7s;
}

.row:hover {
    /* box-shadow: 0 0 20px #222; */
    transform: translateY(-12px);
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.main-row p {
    color: #555;
}

.row h5 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.row h4 {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.row .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--bg-color);
}

.row .link:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.row-text {
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

}

.tecnologia i {
    color: var(--main-color);
    font-size: 27px;
}

.visu-work {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 2px 6px;
    border-radius: 20px;
    transition: all .7s;
}

.visu-work i {
    color: var(--main-color);
    font-size: 1.3rem;
}

.visu-work:hover {
    box-shadow: 0 0 10px var(--main-color);
}

.button-work {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
}

.button-work a {
    font-size: 13px;
}

.row .row-icon {
    color: #222;
}

.row .row-click {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    margin-top: 15px;
}

.p-projeto {
    color: #ffffff93 !important;
    font-weight: 200;
}

/* Rodape */

.end-content {
    padding: 50px 19% 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.dev {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* Action */

.navbar.active {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(+500px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Responsivo */
@media(max-width: 1050px) {
    .home-img {
        margin: 0 auto;
        height: 250px;
        width: 250px;
    }

    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media(max-width: 1000px) {

    .work-title p,
    .about-title p {
        padding: 0;
    }

    .end-content {
        flex-direction: column;
    }

    section {
        padding: 30px 8% 30px;
    }

    header {
        padding: 38px 8%;
    }
}

@media(max-width: 900px) {
    #menu-icon {
        display: block;
    }

    :root {
        --h1-font: 3.8rem;
        --h2-font: 2.5rem;
        --p-font: 14px;
    }

    .navbar {
        position: absolute;
        top: 90%;
        right: 100%;
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #25262d;
        padding: 20px 10px;
        gap: 0.6rem;
        text-align: left;
    }

    .navbar a {
        font-size: 20px;
        font-weight: 500;
    }

    .navbar.open {
        right: 0;
    }

    .about-content {
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }

}

@media(max-width: 530px) {
    .button a.btn2 {
        margin-left: 0px;
        margin-top: 10px;
    }

    :root {
        --h1-font: 2.5rem;
        --h2-font: 2.2rem;
        --p-font: 14px;
    }

    .social i {
        height: 40px;
        width: 40px;

    }

    .logo2 {
        width: 60px;
        height: 60px;
    }
}