/* Sobre mim */
.about-me {
  padding: 5%;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Sobre mim - descrição */
.about-resume {
  & p {
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 2rem;
    text-indent: 20px;
    text-align: justify;
  }
}

.text-highlight {
  color: var(--primary-color);
  font-weight: 600;
}

/* Sobre mim - formação */
.about-formation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box-formation {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding: 20px;
  gap: 1rem;

  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;
}

.banner-formation {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  min-height: 100px;
  min-width: 100px;

  background: var(--bg-color);
  border-radius: 16px;

  & img {
    display: flex;
    width: 70px;
  }
}

.description-formation {
  & h3 {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 1.5rem;
  }
  & i {
    margin-left: 5px;
    font-size: 1rem;
    color: var(--primary-color);
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* align-items: center; */
    gap: 0.5rem;

    & p:nth-child(2) {
      padding-inline: 15px;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      width: fit-content;
    }
  }
}

/* Sobre mim responsivo */

@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr;
    text-align: start;

    & p {
      width: 100%;
    }
  }

  .box-formation {
    flex-direction: row;
    padding-block: 1rem;

    /* & h3 {
      margin-top: 10px;
    } */
    & div:nth-child(2) {
      & div:nth-child(2) {
        flex-direction: column;
        align-items: start;
        /* gap: 1px; */
      }
    }
  }
}
