.btn-primary {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--text-color);
  padding: 2px 10px;
  width: fit-content;

  background: var(--gradient);
  background-size: 200%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;

  &:hover {
    background-position: left;
  }
}

.btn-secondary {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--text-color);
  padding: 2px 10px;
  width: fit-content;

  background: var(--gradient-secondary);
  background-size: 200%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;

  &:hover {
    background-position: left;
  }
}

.btn-disable {
  /* background-color: var(--disable-color); */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--border-color);
  padding: 2px 10px;
  width: fit-content;
  pointer-events: none;
}
