.courses {
  padding-inline: 5%;
}

.list-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
  max-width: 1280px;
  margin-inline: auto;
  align-items: start;
}

.box-course {
  /* margin-bottom: 3rem; */

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  padding: 20px;

  border: 1px solid var(--border-color);
  border-radius: 1rem;

  & .course {
    display: flex;
    flex-direction: column;
  }
}

/* Banner, Descrição e Linguagens do Curso */
.banner-course {
  background: var(--bg-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 10px;

  & .rocketseat {
    width: 150px;
  }
}

.banner-other {
  background: var(--gradient-secondary);
  height: 20px;
  border-radius: 5px;
}

.title-course {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;

  & h3 {
    font-size: 2rem;
    font-weight: 300;
  }

  & i {
    color: var(--primary-color);
    font-size: 1.2rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-course {
  animation: spin 5s linear infinite;
}

.description-course {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    color: var(--text-color);
    font-weight: 200;
  }
}

.language-course,
.status-course {
  padding-inline: 15px;
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color);
  border-radius: 10px;
  width: auto;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* Certificados */
.list-certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

/* Drop dos certificados */
.view-certificate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2%;
  cursor: pointer;
  & i {
    font-size: 1.5rem;
  }
}

.drop-certificate {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  transition:
    max-height 0.5s ease-in-out,
    margin-top 0.5s ease-out,
    opacity 0.2s ease;

  &.active {
    max-height: 500px;
    opacity: 1;
    margin-top: 12px;
  }
}

/* Rotação o icone */
.arrow {
  transition: transform 0.3s ease;

  &.rotate {
    transform: rotate(180deg); /* Gira 180 graus */
  }
}

@media (max-width: 1200px) {
  .list-courses {
    grid-template-columns: 1fr;
    /* gap: 1.5rem; */
  }
}
