.courses {
  padding-inline: 5%;
}

.list-courses {
  column-count: 3;
  column-gap: 1.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.box-course {
  break-inside: avoid;
  display: inline-block;
  width: 100%;

  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  padding: 20px;

  border: 1px solid var(--border-color);
  border-radius: 1rem;

  & .course {
    display: flex;
    flex-direction: column;
  }
}

/* Banner, Descrição e Linguagens do Curso */
.banner-course {
  background: var(--gradient);
  height: 20px;
  border-radius: 5px;
}

.banner-other {
  background: var(--gradient-other);
  height: 20px;
  border-radius: 5px;
}

.title-course {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;

  & h3 {
    font-size: 2rem;
    font-weight: 300;
  }
}

.description-course {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    color: var(--text-color);
    font-weight: 200;
  }
}

.language-course,
.status-course {
  padding-inline: 15px;
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color);
  border-radius: 10px;
  width: auto;
  /* font-size: 1rem; */
  text-transform: uppercase;
}

/* Certificados */
.list-certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.certificate {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--text-color);
  padding: 2px 10px;
  width: fit-content;

  background: var(--gradient);
  background-size: 200%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;

  &:hover {
    background-position: left;
  }
}

.certificate-disable {
  /* background-color: var(--disable-color); */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--border-color);
  padding: 2px 10px;
  width: fit-content;
  pointer-events: none;
}

/* Drop dos certificados */
.view-certificate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2%;
  cursor: pointer;
  & i {
    font-size: 1.5rem;
  }
}

.drop-certificate {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  transition:
    max-height 0.5s ease-in-out,
    margin-top 0.5s ease-out,
    opacity 0.2s ease;

  &.active {
    max-height: 500px;
    opacity: 1;
    margin-top: 12px;
  }
}

/* Rotação o icone */
.arrow {
  transition: transform 0.3s ease;

  &.rotate {
    transform: rotate(180deg); /* Gira 180 graus */
  }
}

@media (max-width: 1200px) {
  .list-courses {
    column-count: 1;
  }
}
