/* Rodape */

.end-content {
  padding: 50px 19% 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.dev {
  display: flex;
  align-items: center;
  gap: 2px;
}
