/* Formação */

.formation-content {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  margin-top: 4rem;
}

.formation-title {
  font-size: var(--p-font);
  line-height: 32px;
}

.box-f {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* gap: 0.5rem; */

  width: 100%;

  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & div:nth-child(1) {
    font-size: 3rem;
    margin: 10px;
    padding: 5px;

    & i {
      transition: ease-in 0.3s;
    }
  }
}

.formation-verif {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.formation-verif .ri-verified-badge-fill {
  font-size: 1rem;
  color: var(--main-color);
}
