* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Variaveis */

:root {
  --main-color: #6a994e;
  --text-color: #fff;
  --bg-color: #111;
  --bg2-color: #22222225;
  --border-color: #ffffff15;

  --h1-font: 5rem;
  --h2-font: 2.5rem;
  --p-font: 1.1rem;
}

h2 {
  text-align: center;
  font-size: var(--h2-font);
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Corpo */

body {
  display: flex;
  flex-direction: column;
  gap: 10em;
  /* padding-inline: 5%; */
  background: var(--bg-color);
  color: var(--text-color);
}

/* Scroll */

::-webkit-scrollbar-track {
  background-color: var(--text-sec-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}

.box-f:hover,
.box-h:hover {
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & i {
    color: var(--main-color);
    transition: ease-in 0.3s;
  }
}
