* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Variaveis */

:root {
  --primary-color: #1041bc;
  --primary-dark-color: #1353e72e;

  --secondary-color: #404040;
  --secondary-dark-color: #4040404e;

  --text-color: #fff;
  --text-secondary-color: #aeaeae;

  --bg-color: #111;
  --bg-secondary-color: #22222225;
  --bg-radial-color: #1353e72e;

  --border-color: #ffffff15;
  --border-hover-color: #c4c4c428;

  --disable-color: #111;

  --gradient: linear-gradient(172deg, var(--primary-color) 0%, var(--primary-dark-color) 100%);
  --gradient-other: linear-gradient(172deg, var(--secondary-color) 0%, var(--secondary-dark-color) 100%);

  --h1-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

h2 {
  text-align: center;
  font-size: var(--h2-font);
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Corpo */

body {
  display: flex;
  flex-direction: column;
  gap: 10em;
  /* padding-inline: 5%; */
  background: var(--bg-color);
  color: var(--text-color);
}

.line {
  margin: 15px 0;
  width: 100%;
  height: 0.1px;
  background-color: var(--border-color);
}

.list-language {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Unicas */
.mb-5 {
  margin-bottom: 5px;
}

/* Scroll */

::-webkit-scrollbar-track {
  background-color: var(--text-sec-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}
