/* Habilidades */

.about-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
}

.box-h {
  padding: 1rem 0;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & i {
    transition: ease-in 0.3s;
  }
}

.box-h i {
  font-size: 50px;
}

.about hr {
  margin: 20px 0;
}
