/* Logo */
.logo {
  position: absolute;
  opacity: 5%;

  top: -200px;
  left: -200px;

  width: 900px;
  height: 900px;

  z-index: -9999;
}

/* Inicio */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h5 {
    font-size: 20px;
    font-weight: 500;
  }

  & h1 {
    margin: 15px 0;
    font-size: var(--h1-font);
    color: var(--main-color);
    line-height: 1;
    font-weight: 800;
  }

  .home-img img {
    height: auto;
    width: 100%;
  }
}

/* Redes sociais */
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 20px 0px;

  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 50%;

    &:hover {
      border: 1px solid var(--main-color);
      transition: all 0.3s;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  & a {
    padding: 10px 22px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.7s;

    &:hover {
      background-color: var(--main-color);
      color: var(--bg-color);
    }

    &:nth-child(2) {
      background-color: var(--main-color);
      color: var(--bg-color);

      &:hover {
        box-shadow: 0 0 10px var(--main-color);
      }
    }

    & i {
      margin-right: 10px;
    }
  }
}

/* Inicio responsivo */
@media (max-width: 1000px) {
  .logo {
    top: -200px;
    left: -200px;

    width: 600px;
    height: 700px;
  }

  .home h1 {
    font-size: 3.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
  }
}
