/* Logo */
.logo {
  position: absolute;
  opacity: 5%;

  top: -200px;
  left: -200px;

  width: 900px;
  height: 900px;

  z-index: -9999;
}

/* Inicio */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h5 {
    font-size: 20px;
    font-weight: 500;
  }

  & h1 {
    margin: 15px 0;
    font-size: var(--h1-font);
    color: var(--primary-color);
    line-height: 1;
    font-weight: 800;
  }

  .home-img img {
    height: auto;
    width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  & a {
    padding: 10px 22px;
    color: var(--text-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);

    background: linear-gradient(172deg, var(--primary-color) 0%, var(--primary-dark-color) 100%);
    background-size: 200%;
    background-position: right;
    transition: 0.5s background-position ease-in-out;

    &:hover {
      background-position: left;
    }

    & i {
      margin-right: 10px;
    }
  }
}

/* Inicio responsivo */
@media (max-width: 1000px) {
  .logo {
    top: -200px;
    left: -200px;

    width: 600px;
    height: 700px;
  }

  .home h1 {
    font-size: 3.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
  }
}
