/* Inicio */

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 35px;
}

.home-img img {
  height: auto;
  width: 100%;
}

.home-text {
  margin-top: 120px;
}

.home-text h5 {
  font-size: 20px;
  font-weight: 500;
}

.home-text h1 {
  margin: 15px 0;
  font-size: var(--h1-font);
  color: var(--main-color);
  line-height: 1;
  font-weight: 800;
}

/* Redes sociais */

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;

  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--border-color);
    color: var(--main-color);
    border-radius: 50%;

    &:hover {
      border: 1px solid var(--main-color);
      transition: all 0.3s;
    }
  }
}

.button a {
  display: inline-block;
  padding: 10px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.7s;
}

.button a:hover {
  box-shadow: 0 0 20px var(--main-color);
}

.button a.btn2 {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  margin-left: 20px;
}

.button i {
  margin-right: 7px;
}

/* Logo */

.logo {
  position: absolute;
  opacity: 5%;

  top: -200px;
  left: -200px;

  width: 900px;
  height: 900px;

  z-index: -9999;
}

@media (max-width: 1000px) {
  .logo {
    top: -200px;
    left: -200px;

    width: 600px;
    height: 700px;
  }
}
