/* Logo */

.logo2 {
  display: flex;
  align-items: center;
  font-size: 3px;
  width: 80px;
  height: 80px;
}

/* Menu */

.navbar {
  display: flex;
}

.navbar a {
  margin: 0 25px;
  padding: 4;
  color: var(--text-color);
  font-size: var(--text-color);
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.7s;
}

.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

#menu-icon {
  font-size: 34px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
