/* Projetos */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  padding-inline: 5%;
}

.projects-card {
  border: 1px solid var(--border-color);

  border-radius: 12px;
  padding: 15px 20px;
  transition: all 0.7s;

  &:hover {
    border: 1px solid var(--primary-color);
    transform: translateY(-12px);
  }

  & img {
    height: auto;
    width: 100%;
    border-radius: 12px;
  }
}

.projects-language {
  gap: 0.5rem;
  margin-top: 5px;
  & i {
    color: var(--primary-color);
    font-size: 20px;
    padding: 5px;
  }

  & p {
    font-weight: 200;
  }
}

.projects-description {
  & p {
    color: #ffffff93;
    font-weight: 200;
  }
}

.projects-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-top: 15px;

  & a {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 10px;
    transition: all 0.7s;

    &:hover {
      box-shadow: 0 0 10px var(--primary-color);
    }

    & i {
      font-size: 20px;
    }
  }
}
