/* Projetos */
.projects {
  padding-inline: 5%;
}

.projects-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto)); */
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projects-card {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 20px;
  /* min-width: 405px; */

  & img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
  }
}

.banner-project {
  display: flex;
  background: var(--bg-color);
  height: 100px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;

  align-items: center;

  & img {
    width: 100%;
    height: 60%;
    object-fit: contain;
  }
}

.projects-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  & p {
    color: var(--text-color);
    font-weight: 200;
  }
}

.projects-flex {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-top: 15px;
}

.projects-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  padding: 2px 10px;
  border-radius: 10px;

  background: var(--gradient);
  background-size: 200%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;

  &:hover {
    background-position: left;
    border-radius: 10px;
  }
}

/* Filtro de projetos */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  & li {
    cursor: pointer;
  }
}
.btn-filter.active {
  background-color: var(--primary-color); /* Cor de destaque */
  color: white;
  transform: scale(1.05); /* Pequeno aumento para dar profundidade */
  transition: all 0.2s ease;
}

/* Projetos responsivo */
@media (max-width: 1450px) {
  .projects-grid {
    flex-wrap: wrap;
  }
}
