/* Habilidades */
.skills {
  padding-inline: 5%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.box-skills {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-block: 1rem;

  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & i {
    transition: ease-in 0.3s;
    font-size: 50px;
  }

  /* &:hover {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    transition: ease-in 0.3s;

    & i {
      color: var(--primary-color);
      transition: ease-in 0.3s;
    }
  } */
}

.studing {
  color: var(--secondary-color);
}

/* Habilidade responsivo */
@media (max-width: 1000px) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
