/* Sobre mim */
.about-title {
  background-color: var(--bg2-color);
  padding: 5%;
}

.text-up {
  color: var(--main-color);
  font-weight: 600;
}

.rocketseat {
  color: #9b30f9;
  font-weight: 600;
}

.work-title p,
.about-title p {
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 42px;
  /* text-indent: 20px; */
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  align-items: center;
}

.about-img {
  text-align: center;

  & img {
    width: 20em;
  }
}

/* Formação */

.formation-content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
}

.formation-title {
  font-size: var(--p-font);
  line-height: 32px;
}

.box-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100%;
  /* height: 20px; */
  padding-block: 20px;

  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & div:nth-child(1) {
    font-size: 3rem;
    margin: 20px;

    & i {
      transition: ease-in 0.3s;
    }
  }
}

.formation-verif {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.formation-verif .ri-verified-badge-fill {
  font-size: 1.3rem;
  color: var(--main-color);
  margin-left: 5px;
}

@media (max-width: 1000px) {
  /* Sobre mim */
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;

    & p {
      width: 100%;
    }
  }

  .box-f {
    flex-direction: column;
    padding-block: 1rem;
  }

  .end-content {
    padding: 50px 19% 20px;
  }
}
