/* Sobre mim */
.about-title {
  background-color: var(--bg2-color);
  padding: 5%;
}

.text-up {
  color: var(--main-color);
  font-weight: 600;
}

.rocketseat {
  color: #9b30f9;
  font-weight: 600;
}

.work-title p,
.about-title p {
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 42px;
  /* text-indent: 20px; */
}

.about-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  align-items: center;
}

.about-img {
  text-align: center;

  & img {
    width: 20em;
  }
}

/* Formação */

.formation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box-f {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding-block: 20px;

  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-inline: 15px;
    padding: 5px 20px;
    height: 100px;
    width: 100px;
    background-color: var(--main-sec-color);
    border-radius: 16px;

    & i {
      transition: ease-in 0.3s;
      font-size: 1em;
    }
  }

  & div:nth-child(2) {
    & i {
      margin-left: 5px;
      color: var(--main-color);
    }

    & div:nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      & p:nth-child(2) {
        padding-inline: 10px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
      }
    }
  }
}

.box-f:hover,
.box-h:hover {
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  transition: ease-in 0.3s;

  & i {
    color: var(--main-color);
    transition: ease-in 0.3s;
  }
}

@media (max-width: 1000px) {
  /* Sobre mim */
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;

    & p {
      width: 100%;
    }
  }

  .box-f {
    flex-direction: column;
    padding-block: 1rem;
  }

  .end-content {
    padding: 50px 19% 20px;
  }

  .box-f {
    & h3 {
      margin-top: 10px;
    }
    & div:nth-child(2) {
      & div:nth-child(2) {
        flex-direction: column;
        gap: 1px;
      }
    }
  }
}
