@import url(formacao.css);
@import url(global.css);
@import url(habilidades.css);
@import url(inicio.css);
@import url(projetos.css);
@import url(sobre.css);
@import url(menu.css);
@import url(footer.css);
